{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <link rel="icon" type"image" href="../static/src/logo.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="{% static '../static/css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/03a89292db.js" crossorigin="anonymous"></script>
  <title>NUEVA VIDA</title>
</head>

<body>
  
  <header>
    <div class="container">
     <p class="logo">NUEVA VIDA</p>
      <nav>
        <a href="#Nuestra_historia">Nuestra Historia</a>
        <a href="#Mision">Misión</a>
        <a href="#Vision">Visión</a>
        <a href="#Valores">Valores</a>
        <a href="#final">Donar</a>
      </nav>
    </div>
  </header>

  <section id="hero">
     <h1>Visite nuestros catalogos! </h1> 
     <form action="">
      <button>Ver catalogo de compras</button>
    </form>
    <p> <br></p>
    <form action="{% url 'Catalogo' %}  ">
      <button >Ver catalogo de canjeables</button>
    </form>
  </section>

  <section id="Nuestra_historia">
    <div class="container">
      <div class="img-container"> </div>
      <div class="texto">
        <h2>Nuestra Historia</h2>
      <p>Somos una empresa que comenzó siendo solo una idea de estudiantes, tratando de
        hacer una empresa que ayudara a la ecología. Pero de una forma especial, por medio
        de la gente que no sabia que realmente estaba ayudando a la ecología y su
        economía, observamos el gran desperdicio de ropa que hay en el mundo ya que
        mucha gente solo la usa una ves, porque ya no le gusto o simplemente ya paso de
        moda, y es ahí donde entramos nosotros que le damos una nueva vida a esa ropa. </p>
      </div>      
    </div>
  </section>

  <section id="Mision">
    <div class="container">
      <div class="texto"> 
      <h3>Misión</h3>
      <p>Somos una empresa que busca satisfacer las necesidades de nuestros clientes con
        productos innovadores y de buena calidad a precios accesibles, siendo una empresa
        sustentable que busca transmitir la imagen de una empresa responsable con su
        ecología.
      </p>
      </div>
      <div class="img-container"> </div>
    </div>
  </section>

  <section id="Vision">
    <div class="container">
      <div class="img-container"> </div>
      <div class="texto">
        <h3>Visión</h3>
        <p>Buscamos ser una empresa líder en la confección y comercialización de moda siendo
          sustentables, satisfaciendo los gusto y tendencias de nuestro mercado de forma
          eficiente y eficaz </p>
        </div>
    </div>
  </section>
  <section id="Valores">
    <div class="container">
      <div class="texto"> 
      <h3>Valores</h3>
      <p>
        Honestidad <br>
        Responsabilidad<br>
        Calidad<br>
        Puntualidad<br>
        Trabajo en equipo<br>
        Respeto <br>
        Innovación<br>
        Responsabilidad Social<br>
        Confianza<br>
      </p>
      </div>
      <div class="img-container"> </div>
    </div>
  </section>

  <section id="final">
    <h1>REGALA TU ROPA VIEJA Y OBTEN UNA NUEVA! </h1> 
    <form action="">
     <button>Ver Proceso de Donacion</button>
   </form>
   <p> <br></p>
 </section>
 

  <footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                  <img id="logo2" src="{% static 'src/logo.jpg' %}" alt="">
                  
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Somos un par de estudiantes de la Universidad Autonoma del Estado de México que realiza su proyecto final  </p>
            <p>Creado unicamente por motivos didacticos libres de lucro</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>NUEVA VIDA</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
 

</body>
</html>

